<dx-popover
  [width]="320"
  [height]="380"
  position="top"
  [visible]="visible"
  [target]="target"
  [hideOnOutsideClick]="true"
  [hideOnParentScroll]="false"
  [showTitle]="false"
  (onHiding)="onHiding()"
>
  <div *dxTemplate="let _ of 'content'" class="emoji-popover-content">
    <div class="emoji-search-box">
      <dx-text-box
        placeholder="Find something fun"
        mode="search"
        stylingMode="filled"
        [value]="searchTerm"
        valueChangeEvent="input"
        (onValueChanged)="onSearchChanged($event)"
      ></dx-text-box>
    </div>
    <div class="emoji-grid-wrap">
      <div class="emoji-label">Emoji</div>
      <div class="emoji-grid">
        @for (emoji of filteredEmojis; track emoji.char) {
          <button
            type="button"
            class="emoji-item"
            (mousedown)="$event.preventDefault()"
            (click)="onEmojiClick(emoji.char)"
          >
            {{ emoji.char }}
          </button>
        }
      </div>
    </div>
  </div>
</dx-popover>
